* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  min-width: 400px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  /* margin: 20px; */
  height: 60px;
}
.nav-item-left {
  margin: 0 10px;
  padding: 5px;
  color: #001d35;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600px;
}

.nav-item-left:hover {
  text-decoration: underline;
}
.nav-item-right-container {
  display: flex;
}

.a-tag {
  padding: 15px 5px;
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-size: 13px;
}
.a-tag:hover {
  text-decoration: underline;
}

.user-menu-box {
  width: 48px;
  height: 48px;
  padding: 5px;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin-top: 7px;
  margin-left: 7px;
}

.menu-icon-wrapper {
  position: relative;
}
.menu-icon-wrapper:hover::after {
  content: " ";
  position: absolute;
  top: -5px;
  bottom: -4px;
  left: -5px;
  right: -4px;
  border-radius: 50%;
  background-color: rgba(60, 64, 67, 0.1);
  width: 48px;
  height: 48px;
}

.user {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #5c6bc0;
  color: #d9e2eb;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  font-weight: 600;
  margin-left: 3px;
  margin-top: 3px;
  position: relative;
}

.user:hover::after {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -4px;
  left: -5px;
  right: -4px;
  border-radius: 50%;
  background-color: rgba(60, 64, 67, 0.1);
  width: 42px;
  height: 42px;
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  height: calc(100% - 560px);
  max-height: 290px;
  flex-shrink: 0;
}

.logo-wrapper {
  max-height: 92px;
  position: relative;
  height: 100%;
  margin-top: auto;
}

.logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
  height: 92px;
  aspect-ratio: auto 272 / 92;
}

.input-area {
  padding-top: 20px;
}

.input-box {
  width: 584px;
  height: 46px;
  background: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-box:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: transparent;
}

.input {
  width: 440px;
  font-size: medium;
  border: none;
}

.input:focus {
  outline: none;
}

.search-icon {
  color: #9aa0a6;
}

.input-icon-img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.button-area {
  padding-top: 18px;
}

.button-style {
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
}

.button-style:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.language-area {
  padding-top: 20px;
  font-size: small;
  color: #4d5156;
}

.language-area a {
  padding: 0 3px;
  color: #1a0dab;
  text-decoration: none;
}

.language-area a:hover {
  text-decoration: underline;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  font-size: 15px;
  background: #f2f2f2;
}

.footer a {
  color: #202124;
  text-decoration: none;
  padding: 15px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-firstLine {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
}

.footer-secondLine {
  padding: 15px 20px;
}

.footer-secondLine-second {
  float: right;
}

/* #5c6bc0  user */
